# Google Generative AI API key (required for all example scripts)
# https://aistudio.google.com/apikey
# Required
OPENAI_API_KEY=
GOOGLE_API_KEY=

# Not required
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY
LANGSMITH_PROJECT
